---
---

@import "strata-academic";

body {
  color: rgba(0, 0, 0, 0.7) !important;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

strong, b {
  color: #000 !important;
  font-weight: 500;
}

header-title strong,
.header-title strong {
  color: #fff !important;
}